body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

.container {
    font-size: 30px;
    min-height: 50vh;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    margin-top: 50px;
    width: auto;
    width: 60%;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}

.quote {
    word-wrap: break-word;
    flex: 0.8;
    display: flex;
    flex-flow: column;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .main {
        width: 90%;
    }
    .quote {
        flex: 0.9;
    }
}