.quote-text {
    text-align: center;
    padding: 1em 1em 5px 1em;
}

.quote-content {
    font-size: 1.1em;
}

.quote-name {
    font-size: 0.85em;
    text-align: right;
    margin: 0.4em;
    padding-right: 1.3em;
}

@media (max-width: 768px) {
    .quote-content {
        font-size: 0.9em;
    }
    .quote-name {
        font-size: 0.70em;
    }
}